.facebook-share-widget
  .name-search
    = image_tag "facebook_share_widget/facebook-logo.png"
    %input.search-text{ placeholder: "Search" }
  
  .message-pane
    .message-wrapper
      %input.message{ placeholder: "Message to your friend" }
      
  %ul
  
:javascript
  $(function() {
    new FacebookShareWidget($(".facebook-share-widget"), 
                            { base_path: "#{ Rails.application.routes.named_routes[:facebook_share_widget].path.spec}" });
  });