.personal_data
  = "Oops! Looks like you have no #{params[:personal_data_type].split('$')[1]} listed in your Facebook profile"
:coffeescript
  $ ->
    window.Cs.fb_share_widget.onload_no_self_data();